In [ ]:
# 1000번
a, b = map(int, input("").split())
print (a+b)

1 2
3

## 1. split() 메서드 (문자열 쪼개기)
split()은 문자열(str) 객체가 가진 메서드입니다. 긴 문자열을 특정 기준에 따라 잘라 리스트로 만들어줍니다.

- 대상 객체: 오직 **문자열(str)**에서만 사용 가능합니다.

- 주요 인자:

  - sep (구분자): 문자열을 자를 기준입니다. 생략하면 공백(스페이스, 탭, 엔터 등)을 기준으로 자릅니다.

  - maxsplit (최대 분할 횟수): 앞에서부터 몇 번까지만 자를지 정합니다.

- 리턴(반환)값: 잘라진 문자열들이 담긴 **리스트(list)**를 반환합니다.

- 언제 사용하나?

  - 한 줄에 여러 입력을 받았을 때 각 단어를 분리할 때

  - CSV 파일처럼 쉼표(,)나 콜론(:)으로 구분된 데이터를 파싱할 때

예시:

```Python
data = "apple,banana,cherry"
result = data.split(",") # 쉼표를 기준으로 자름
# 결과: ['apple', 'banana', 'cherry']
```
## 2. map() 함수 (일괄 처리하기)
map()은 여러 개의 데이터가 담긴 집합(Iterable)에 특정 함수를 한꺼번에 적용하고 싶을 때 쓰는 내장 함수입니다.

- 대상 객체: 리스트, 튜플, 문자열 등 반복 가능한 모든 객체(Iterable)를 인자로 받을 수 있습니다.

- 주요 인자:

  - function: 적용할 함수 (예: int, str, len 또는 직접 만든 함수)

  - iterable: 함수를 적용할 데이터 집합

- 리턴(반환)값: map 객체 (Iterator)를 반환합니다.

- 주의: 리스트 형태로 바로 보고 싶다면 list(map(...)) 처럼 감싸줘야 합니다.

- 언제 사용하나?

  - 문자열 리스트를 숫자 리스트로 한꺼번에 바꿀 때

  - 리스트의 모든 요소에 일괄적으로 어떤 계산을 수행할 때

예시:

```Python
str_list = ["1", "2", "3"]
int_list = list(map(int, str_list)) # 모든 요소를 int로 변환
# 결과: [1, 2, 3]
```

## 3. Iterable 객체
- Iterable 객체의 종류
![스크린샷 2026-01-12 204425.png]()

In [ ]:
# 1001번
a, b = map(int, input("").split())
print (a-b)

2 1
1

In [ ]:
# 1008번
a, b = map(int, input("").split())
print (a/b)

1 3
0.3333333333333333

In [ ]:
# 1330번
a, b = map(int, input("").split())
if a > b:
    print (">")
elif a < b:
    print ("<")
else:
    print ("==")

1 1
==

In [ ]:
# 2438번
a = int(input())
for i in range(1, a+1):
  print("*"*i)

5
*
**
***
****
*****

In [ ]:
# 2475번
numlist = map(int, input("").split())
squared_list = [x**2 for x in numlist]
n = sum(squared_list) % 10
print(n)

0 4 2 5 6
1

## 🐍 파이썬 리스트 컴프리헨션 (List Comprehension)
리스트 컴프리헨션은 기존의 반복 가능한(Iterable) 객체를 활용하여 새로운 리스트를 간결하게 생성하는 파이썬의 핵심 문법
### 1. 기본 구조 (추출 및 변형)
가장 기본적인 형태로, 요소를 하나씩 꺼내어 리스트에 담습니다.
- 구문: [ 표현식 for 항목 in Iterable ]
- 예시: 숫자를 2배로 만들기
  - numbers = [10, 20, 30, 40, 50]
  - doubled = [x * 2 for x in numbers]
  - 결과: [20, 40, 60, 80, 100]
### 2. 필터링형 (if 조건문)
if 문을 뒤에 붙여 조건이 **참**(True)인 요소만 골라냅니다.
- 구문: [ 표현식 for 항목 in Iterable if 조건식 ]
- 예시: 'a'가 포함된 과일만 추출하기
  - fruits = ["apple", "banana", "cherry", "kiwi"]
  - has_a = [f for f in fruits if "a" in f]
  - 결과: ['apple', 'banana']
### 3. 조건부 변형형 (if-else 조건문)
값에 따라 다른 결과를 담고 싶을 때 사용합니다.이때는 if-else가 for문 앞에 위치합니다.
- 구문: [ 표현식1 if 조건식 else 표현식2 for 항목 in Iterable ]
- 예시: 짝수는 'Even', 홀수는 'Odd'로 표시하기
  - labels = ["Even" if x % 2 == 0 else "Odd" for x in range(5)]
  - 결과: ['Even', 'Odd', 'Even', 'Odd', 'Even']
### 4. 중첩 반복문 (다중 for문)
여러 개의 반복문을 한 줄에 중첩하여 사용할 수 있습니다.
- 구문: [ 표현식 for 항목1 in Iterable1 for 항목2 in Iterable2 ]
- 예시: 두 리스트의 모든 조합 곱하기
  - list1 = [2, 3]
  - list2 = [1, 2, 3]
  - multiplied = [i * j for i in list1 for j in list2]
  - 결과: [2, 4, 6, 3, 6, 9]
### 5. 중첩 리스트 생성 (2차원 배열)
리스트 안에 또 다른 리스트 컴프리헨션을 넣어 행렬 구조를 만듭니다.
- 구문: [ [표현식 for 항목1 in Iterable1] for 항목2 in Iterable2 ]
- 예시: 3x2 모양의 영행렬 만들기
- matrix = [[0 for _ in range(2)] for _ in range(3)]
- 결과: [[0, 0], [0, 0], [0, 0]]

In [ ]:
# 2741번
a = int(input())
for i in range(1,a+1):
  print(i)

5
1
2
3
4
5

In [ ]:
# 2753

# 원본 코드
n = int(input())
t = 0
if n % 4 ==0:
  t = 1
  if n % 100 == 0:
    t= 0
    if n % 400 == 0:
      t=1
print(t)

400
1

In [ ]:
# if문에 논리연산자 추가
n = int(input())
if (n % 4 == 0 and n % 100 != 0) or (n % 400 == 0):
    t = 1
else:
    t = 0
print(t)

100
0

In [ ]:
# 변수할당에 if문 추가
n = int(input())
t = 1 if (n % 4 == 0 and n % 100 != 0) or (n % 400 == 0) else 0
print(t)

404
1

In [ ]:
# 결과값(True/False)을 바로 정수(int)로 변환 -> 왜냐면 true 는 1 false는 0으로 변환됨
n = int(input())
t = int((n % 4 == 0 and n % 100 != 0) or (n % 400 == 0))
print(t)

400
1

In [ ]:
# 9498
score = int(input())
grade = 'A' if score >= 90 else 'B' if score >= 80 else 'C' if score >= 70 else 'D' if score >= 60 else 'F'
print(grade)

70
C

In [ ]:
# 10869
a, b = map(int, input("").split())
print(a+b)
print(a-b)
print(a*b)
print(int(a/b)) # 파이썬에서 나눗셈은 자동으로 소수점까지 나오기에 int형변환 필요
print(a%b)

7 3
10
4
21
2
1

In [ ]:
# 10871
n, x = map(int, input("").split())
a = list(map(int, input("").split()))
for i in a:
  if i < x:
    print(i, end=' ')

# 리스트 컴프리헨션으로 필터링 후, '*' 연산자로 한 번에 출력

# print(*(i for i in a if i < x))

# 1. 언패킹 연산자 (*): 리스트(또는 제너레이터) 앞에 *를 붙이면, 내부의 요소들을 하나씩 꺼내어 print 함수에 전달합니다.

# 2. 자동 공백 출력: print 함수에 여러 인자가 전달되면 기본적으로 공백( )을 사이에 두고 출력하므로, 기존 코드의 end=' '와 똑같은 효과를 냅니다.

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

In [ ]:
# 10950
n = int(input())
mlist=[]
for i in range(n):
  a, b = map(int, input("").split())
  mlist.append(a+b)
print(*mlist, sep ='\n')

# 리스트 컴프리헨션
# 리스트 생성과 입력을 동시에 처리
# mlist = [sum(map(int, input().split())) for _ in range(int(input()))]
# print(*mlist, sep='\n')
# 파이썬의 for 문에서 변수 이름 대신 언더바(_)를 사용하는 것은 "반복은 하되, 그 숫자가 무엇인지는 관심 없다"는 것을 의미
# 파이썬에서 두개의 input함수중에서 반복의 횟수를 먼저 결정하기 위해서 뒤에꺼 input을 먼저 실행

3
1 1
2 3
4 5
2
5
9

In [ ]:
# 10951
import sys
mlist = [sum(map(int, line.split())) for line in sys.stdin]
print(*mlist, sep='\n')

# sys.stdin은 입력이 끝날 때까지 한 줄씩(line) 던져줍니다.

In [ ]:
# 10952
mlist = []
while True:
  a, b = map(int, input().split())
  mlist.append(a + b)
  if a == 0 and b == 0:
    break
print(*(mlist[:-1]), sep='\n')
# 언패킹 연산자에 슬라이싱한 리스트를 넘겨서 전달하면 원하는 값만 출력가능함

1 1
2 2
0 0
2
4

## 1. iter() 함수의 두 가지 얼굴
iter() 함수는 사용법에 따라 인자를 1개 또는 2개 받습니다.

- 인자가 1개일 때 (iter(iterable)): 리스트나 문자열 같은 객체를 반복자(Iterator)로 변환합니다.

- 인자가 2개일 때 (iter(callable, sentinel)):

  - 첫 번째 인자(callable): 호출 가능한 객체(함수 이름)를 받습니다.

  - 두 번째 인자(sentinel): 반복을 멈출 **감시값**(중단값)을 받습니다.

## 2. 이터러블(Iterable) vs 이터레이터(Iterator)
- 이터러블 (Iterable): '책' 그 자체입니다. 안에 내용은 많지만, 스스로 "지금 몇 페이지를 읽고 있다"는 정보를 저장하지는 않습니다.

  - 예: 리스트, 문자열, 튜플, 딕셔너리 등

- 이터레이터 (Iterator): 책에 꽂아둔 '책갈피' 혹은 **'손가락'**입니다. "지금 어디까지 읽었는지" 위치를 기억하고, 요청할 때마다 "다음 장(next)"을 보여줍니다.

## 3. 왜 리스트는 이터레이터가 아닐까?
만약 리스트 자체가 이터레이터라면, 리스트 하나를 여러 번의 for 문에서 동시에 돌릴 때 문제가 생깁니다. 책갈피가 하나뿐이라서 여기서 읽으면 저기서도 페이지가 넘어가 버리기 때문이죠.

그래서 파이썬은 다음과 같이 동작합니다.

리스트(Iterable)는 데이터를 보관만 합니다.

for 문이나 iter() 함수를 만날 때, 리스트로부터 새로운 이터레이터(책갈피)를 하나 생성해서 사용합니다.

## 4. Iterator를 통한 for문의 내부 동작
- for 문의 내부 동작 4단계

1. 이터레이터 생성: 가장 먼저 iter([1, 2, 3])을 호출하여 리스트(Iterable)로부터 **이터레이터(Iterator)**라는 책갈피를 만듭니다.

2. 값 요청 (next): 이터레이터에게 next()를 호출하여 "다음 값을 가져와!"라고 요청합니다.

3. 변수 대입: 가져온 값을 x에 담고 for 문 안의 코드를 실행합니다.

4. 반복 및 종료: 더 이상 가져올 값이 없을 때까지 2~3번 과정을 반복하다가, **StopIteration**이라는 특별한 신호(예외)가 발생하면 자동으로 반복을 종료합니다.

In [ ]:
# 10952
# '0 0'이 입력될 때까지 계속 input()을 호출합니다.
for line in iter(input, "0 0"):
    # 한 줄씩 가져와서 합계를 바로 출력합니다.
    print(sum(map(int, line.split())))

In [ ]:
# 10998
a,b = map(int, input().split())
print(a*b)

1 2
2

In [ ]:
# 11654
# ord()함수를 대소문자와 숫자를 아스키코드로 변환
# chr()함수를 숫자를 대소문자와 숫자로 변환
print(ord(input()))

a
97

In [ ]:
# 27866
str1 = input()
n = int(input())
print(str1[n-1])

Sprout
3
r

In [ ]:
# 27866

# 문자열 입력과 인덱스 입력을 한 번에 처리
# del str - 잘못 설정된 변수 삭제 하면 str객체가 다시 돌아옴
print(input()[int(input()) - 1])

In [ ]:
# 2439

n = int(input())
for i in range(1, n+1):
  print(' '*(n-i) + '*'*i)

# print 안에 쉼표(,)를 넘으면 자동으로 두개 사이에 공백이 생김
# -> + 를 사용하면 공백없이 두변수가 붙어서 출력됨

5
    *
   **
  ***
 ****
*****

In [ ]:
# 31403
a= input()
b=input()
c=input()
print(int(a)+int(b)-int(c))
print(int(a+b)-int(c))

3
4
5
2
29

In [ ]:
# 2562
mylist = []
maxs = 0
for i in range(9):
  n = int(input())
  mylist.append(n)
  if maxs < n:
    maxs = n
print(maxs, (mylist.index(maxs))+1, sep='\n')

1
2
3
4
5
6
7
8
9
9
9

In [ ]:
# 2562
mylist=[int(input()) for _ in range(9)]
print(max(mylist), mylist.index(max(mylist))+1, sep='\n')

1
2
3
4
5
6
7
8
9
9
9

In [ ]:
# 10818
n = int(input())
mylist= list(map(int, input().split()))
print(min(mylist), max(mylist))

5
20 10 35 30 7
7 35

In [ ]:
# 2675
n = int(input())
l1 = []
l2 = []
for i in range(n):
  a, b = input().split()
  l1.append(int(a))
  l2.append(b)
for i in range(n):
  for j in l2[i]:
    print(j*l1[i], end='')
  print()

2
3 ABC
5 /HTP
AAABBBCCC
/////HHHHHTTTTTPPPPP

In [ ]:
# 2884
from datetime import datetime, timedelta
a, b = map(int, input().split())
dt = datetime(2026, 1, 1, a, b)
result = dt - timedelta(minutes=45)
print(result.hour, result.minute)

0 30
23 45

# datetime 패키지
## 1. datetime 객체
날짜와 시간정보를 모두 가진 객체
- 멤버
  - year: 연도
  - month: 월
  - day: 일
  - hour: 시
  - minute: 분
  - second: 초
  - microsecond: 마이크로초(micro seconds, 백만분의 일초)

 `x.year, x.month, x.day, x.hour, x.minute, x.second, x.microsecond`

- 메서드
  - datetime.date(): datetime객체를 날짜정보만 가진 date객체로 반환
  - datetime.time(): datetime객체를 시간정보만 가진 time객체로 반환
  - datetime.combine(date, time): 별도의 날짜 객체와 시간 객체를 하나로 합칩니다.
  - **datetime.now**(): 현재날짜와 시간을 datetime객체로 반환
  - datetime.weekday(): 요일 반환 (0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일)
  - **datetime.strftime**(): datetime객체를 원하는 형식의 문자열로 formatting
  - **datetime.strptime**(): 문자열을 원하는대로 parsing하여 datetime 객체로 변환

    - **날짜 formatting, parsing 문자열**
      - %Y: 앞의 빈자리를 0으로 채우는 4자리 연도 숫자
      - %m: 앞의 빈자리를 0으로 채우는 2자리 월 숫자
      - %d: 앞의 빈자리를 0으로 채우는 2자리 일 숫자
      - %H: 앞의 빈자리를 0으로 채우는 24시간 형식 2자리 시간 숫자
      - %M: 앞의 빈자리를 0으로 채우는 2자리 분 숫자
      - %S: 앞의 빈자리를 0으로 채우는 2자리 초 숫자
      - %A: 영어로 된 요일 문자열
      - %B: 영어로 된 월 문자열
    - **parsing 방법**
      - 데이터: "2026 01 13" -> 포맷: "%Y %m %d"
      - 데이터: "2026-01-13 16:20" -> 포맷: "%Y-%m-%d %H:%M"
      => 보이는 바와 같이 formatting문자열들 사이에 있는 문자가 구분자가 되어서 parsing함
      => 출력할때도 마찬가지로 formatting문자열들은 숫자가 들어가서 문자열이 완성됨(f스트링느낌)

In [ ]:
# 10250번
t = int(input())
mylist = []
for i in range(t):
  h,w,n = map(int, input().split())
  mylist.append(int(str((n-1)%h+1)+str(((n-1)//h+1)).zfill(2)))
print(*mylist, sep='\n')

2
6 12 10
30 50 30
402
3001

In [ ]:
# 1152
a = list(map(str, input().split()))
print(len(a))

The last character is a blank
6

In [ ]:
b= 'The Curious Case of Benjamin Button '
b = list(map(str, b.split()))
len(b)

6

In [ ]:
# 2577
olist = [ int(input()) for _ in range(3)]
acc = str(olist[0] * olist[1] * olist[2])
clist = [acc.count(str(i)) for i in range(10)]
print(*clist, sep='\n')

150
266
427
3
1
0
2
0
0
0
2
0
0

In [ ]:
# 2920
mclist = list(map(int, input().split()))
if mclist == sorted(mclist):
  print('ascending')
elif mclist == sorted(mclist, reverse=True):
  print('descending')
else:
  print('mixed')

8 1 7 2 6 3 5 4
mixed

# sort와 sorted
## sort
- sort는 list객체에 있는 메서드
- 원본리스트를 직접수정
- 반환값이 None -> 원본리스트를 직접 정렬해두기 때문에
- 반환값이 없기때문에 if문의 조건에 직접적으로 사용불가
- 매개변수
  - reverse (bool):
    - 기본값은 False(오름차순)
    - True로 설정하면 내림차순정렬

  - key (callable):
    - 정렬 기준을 정하는 함수를 인자로 받습니다.
    - 예시: key=len을 넣으면 문자열의 길이를 기준으로 정렬
- 예시: mylist.sort() or mylist.sort(reverse=True)

## sorted
- sorted는 내장함수
- 원본리스트를 수정하지 않고 정렬된 새 리스트를 생성
- 정렬된 새 리스트를 반환함
- if문의 조건에 사용가능
- 매개변수
  - iterable (필수):
    - 첫 번째 인자로 리스트, 튜플, 딕셔너리, 문자열 등 정렬할 대상
  - reverse (bool):
    - .sort()와 동일하게 True일 경우 내림차순 정렬
  - key (callable):
    - 정렬의 기준이 되는 함수를 지정
- 예시 new_list = sorted(mylist) or sorted(mylist, reverse=True)

In [ ]:
# 3052
restlist = [int(input()) % 42 for _ in range(10)]
restset = set(restlist)
print(len(restset))

1
2
3
4
5
6
7
8
9
10

10